.ams-board {
  height : 100%;
}

.ams-board-header {
  position      : fixed;
  border-bottom : 1px solid #e1e1e8;
  margin-left   : 20px;
  margin-right  : 20px;
}

.ams-board-stages {
  width          : 100%;
  height         : 100%;
  overflow-x     : auto;
  overflow-y     : hidden;
  white-space    : nowrap;
  padding-top    : 80px;
  padding-bottom : 5px;
  padding-left   : 5px;
  padding-right  : 5px;
}

.ams-board-stage {
  background    : #f7f7f9;
  border        : 1px solid #e1e1e8;
  border-radius : 4px;
  height        : 100%;
  width         : 300px;
  margin-right  : 5px;
  display       : inline-block; 
}

.ams-board-stage-header {
  font-size     : 20px;
  padding       : 10px;
  border-bottom : 1px solid #e1e1e8;
}

.ams-board-stage-stories {
  height     : 100%;
  padding    : 5px;
  overflow-y : auto;
}

.ams-board-story {
  width         : 100%;
  height        : 100px;
  background    : #EBE54D;
  margin-bottom : 5px;
  border-radius : 5px;
  padding       : 5px;
}

.ams-board-story-header {
  height       : 30px;
  padding-left : 5px;
}

.ams-board-story-header-text {
  font-size : 18px;
}

.ams-board-story-assignee-avatar {
  max-width  : 20px;
  max-height : 20px;
}

.ams-board-story-body {
  font-size  : 16px;
  max-height : 100px;
  overflow   : hidden;
  cursor     : pointer;
}

.ams-board-story-footer-text {
  font-size : 18px;
}

.ams-story-popup {
  margin-top : 10px;
}

.ams-story-completed-task {
  text-decoration : line-through;
}